<div {{bind-attr class="sparkleStyle :artboard"}}>
	<svg width="800" height="600">
		<g class="rainbow">
			<circle cx="400" cy="600" r="400" {{bind-attr fill="color1"}}/>
			<circle cx="400" cy="600" r="350" {{bind-attr fill="color2"}}/>
			<circle cx="400" cy="600" r="300" {{bind-attr fill="color3"}}/>
			<circle cx="400" cy="600" r="250" fill="#6392ad"/>
		</g>

	<path class="sparkle one" fill="white" d="M121.943,347.858c0,0-0.923-6.776-4.057-9.858c-3.835-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
	c2.913-2.912,4.057-9.857,4.057-9.857s0.978,6.812,4.057,9.857c3.441,3.405,9.858,4.058,9.858,4.058S128.627,335.37,126,338
	C123.372,340.627,121.943,347.858,121.943,347.858z"/>

	<path class="sparkle two" fill="white" d="M573.943,249.858c0,0-0.924-6.776-4.057-9.858c-3.836-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
		c2.912-2.912,4.057-9.857,4.057-9.857s0.977,6.812,4.057,9.857c3.441,3.405,9.858,4.058,9.858,4.058S580.627,237.37,578,240
		C575.371,242.627,573.943,249.858,573.943,249.858z"/>

	<path class="sparkle three" fill="white" d="M400,354.858c0,0-0.924-6.776-4.057-9.858c-3.836-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
	c2.912-2.912,4.057-9.857,4.057-9.857s0.977,6.812,4.056,9.857c3.441,3.405,9.859,4.058,9.859,4.058s-7.232,1.428-9.859,4.058
	C401.428,347.627,400,354.858,400,354.858z"/>

	</svg>
</div>
<div class="controlls">
	<label>rainbow colors</label>
	{{input type="color" valueBinding="color1"}}
	{{input type="color" valueBinding="color2"}}
	{{input type="color" valueBinding="color3"}}
	<label>sparkle style</label>
	{{view "select" content=styles value=sparkleStyle}}
</div>