<div {{bind-attr class="sparkleStyle :artboard"}}>
	<svg width="800" height="600">
		<g class="rainbow">
			<circle cx="400" cy="600" r="410" {{bind-attr fill="color1"}} opacity=".3"/>
			<circle cx="400" cy="600" r="400" {{bind-attr fill="color1"}}/>
			<circle cx="400" cy="600" r="350" {{bind-attr fill="color2"}}/>
			<circle cx="400" cy="600" r="300" {{bind-attr fill="color3"}}/>
			<circle cx="400" cy="600" r="250" fill="#6392ad"/>
		</g>

	<path class="sparkle one" fill="white" d="M121.943,347.858c0,0-0.923-6.776-4.057-9.858c-3.835-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
		c2.913-2.912,4.057-9.857,4.057-9.857s0.978,6.812,4.057,9.857c3.441,3.405,9.858,4.058,9.858,4.058S128.627,335.37,126,338
		C123.372,340.627,121.943,347.858,121.943,347.858z"/>

	<path class="sparkle two" fill="white" d="M573.943,249.858c0,0-0.924-6.776-4.057-9.858c-3.836-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
		c2.912-2.912,4.057-9.857,4.057-9.857s0.977,6.812,4.057,9.857c3.441,3.405,9.858,4.058,9.858,4.058S580.627,237.37,578,240
		C575.371,242.627,573.943,249.858,573.943,249.858z"/>

	<path class="sparkle three" fill="white" d="M400,354.858c0,0-0.924-6.776-4.057-9.858c-3.836-3.775-9.859-4.059-9.859-4.059s6.946-1.145,9.859-4.057
		c2.912-2.912,4.057-9.857,4.057-9.857s0.977,6.812,4.056,9.857c3.441,3.405,9.859,4.058,9.859,4.058s-7.232,1.428-9.859,4.058
		C401.428,347.627,400,354.858,400,354.858z"/>

	<path class="sparkle four" fill="white" d="M612.444,407.357c0,0-0.924-6.775-4.057-9.857c-3.836-3.775-9.859-4.059-9.859-4.059s6.946-1.146,9.859-4.058
		c2.912-2.911,4.057-9.856,4.057-9.856s0.977,6.812,4.056,9.856c3.441,3.405,9.859,4.058,9.859,4.058s-7.232,1.429-9.859,4.059
		C613.872,400.127,612.444,407.357,612.444,407.357z"/>

	<path fill="white" d="M136.379,598.419c1.052,0.092,2.114,0.147,3.19,0.147c20.085,0,36.367-16.281,36.367-36.366s-16.282-36.366-36.367-36.366
		c-3.792,0-7.448,0.58-10.885,1.658c-9.14-7.868-21.024-12.637-34.031-12.637c-7.552,0-14.722,1.617-21.203,4.503
		C64.997,513.467,54.727,510,43.642,510c-16.994,0-32.085,8.125-41.617,20.697c-0.68,0.006-1.354,0.035-2.024,0.078V600h135.117
		C135.543,599.478,135.973,598.958,136.379,598.419z"/>
	<path fill="white" d="M800,526.86c-0.781,0.188-1.556,0.394-2.316,0.632c-9.14-7.868-21.024-12.637-34.031-12.637
		c-7.551,0-14.722,1.617-21.203,4.503c-8.452-5.892-18.723-9.358-29.808-9.358c-16.993,0-32.085,8.125-41.617,20.697
		C651.099,530.883,635,547.086,635,567.056c0,14.577,8.581,27.145,20.964,32.944H800V526.86z"/>

	</svg>
</div>
<div class="controlls">
	<label>rainbow colors</label>
	{{input type="color" valueBinding="color1"}}
	{{input type="color" valueBinding="color2"}}
	{{input type="color" valueBinding="color3"}}

	<label>sparkle style</label>
	{{view "select" content=styles value=sparkleStyle}}
</div>